.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    height: 250px;
    border: 4px red solid;
    gap: 10px;
}

.flex-container div {
    border: 4px red solid;
}

.box {
    height: 150px;
    width: 150px;
}


body {
    background-color: #1f6c7d;
}