.flex-container {
    display: flex;
    gap: 10px;
    padding: 16px;
    height: 250px;
    border: 4px red solid;
    justify-content: space-between;
}

.flex-container div {
    border: 4px red solid;
}

.box {
    height: 150px;
    width: 150px;
}


body {
    background-color: #1f6c7d;
    margin: auto;
}

main div {
    border: 4px red solid;
    text-align: center;
    background-color: antiquewhite;
    margin: 40px;
    padding: 1em;
}

main p {
    border: 4px red solid;
    padding: 50px;
    text-align: center;
    margin: 100px;
}